.Home {
  padding: 20px 0px;
  width: 100vw;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;*/
  align-items: center;
  background-color: #708090;
  /* background-color: #39628e7e; */
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 0px auto;
}

.home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 0px;
}

.leftbar {
  width: 25%;
}

.rightbar {
  width: 80%;
}

@media (min-width: 80rem) {
  .home {
    flex-direction: row;
  }
}

@media (max-width: 921px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }

  .leftbar {
    padding: 10px;
    width: 95%;
  }
  .rightbar {
    padding: 10px;
    width: 95%;
  }
}
