@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Nunito:ital,wght@0,200;1,700;1,900&family=Raleway:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
